body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F9E6E5;
}
header {
    background-color: #DCD4E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 0% 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 100px;
    width: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #A35476;
    font-weight: bold;
    font-family: 'Inria Sans', sans-serif;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
    padding: 10px 15px;
    border-radius: 5px;
}

nav ul li a:hover {
    color: #D67A9D;
    transform: scale(1.1);
    background-color: rgba(214, 122, 157, 0.2);
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
 
    
    padding:2% 
}

.payment-container {
    background-color: #EDD3E9;
    padding: 5%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
}
.payment-container:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.payment-icon {
    font-size: 50px;
    color: #A35476;
    margin-bottom: 5%;
}

h2 {
    color: #A35476;
    font-family: 'Instrument Serif', serif;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-size: 1.2em;
    color: #5784BD;
    font-family: 'Itim', cursive;
    text-align: left;
}

input {
    padding: 15px;
    border: 1px solid #D58FE7;
    border-radius: 5px;
    font-size: 1em;
    background-color: #F3E0F7;
    font-family: 'Instrument Serif', serif;
    width: 100%;
}

.inline-inputs {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.inline-inputs div {
    flex: 1;
}

.date-input {
    position: relative;
    display: flex;
    align-items: center;
}

.date-input i {
    position: absolute;
    left: 10px;
    color: #A35476;
}

.date-input input {
    padding-left: 35px; /* Space for the icon */
}

button {
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: #D58FE7;
    color: white;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button:hover {
    background-color: #A35476;
}